# Pandas methods

In this notebook, we use pandas to solve a few basic data manipulation exercises.

In [1]:
import pandas as pd
import numpy as np

## Exercise 1: Clean and Combine User Data

We’re given two DataFrames:

`df_users`: Contains user information with columns `['user_id', 'name', 'email']`

`df_purchases`: Contains purchase logs with columns `['user_id', 'purchase_amount', 'date']`

In [2]:
# User data
df_users = pd.DataFrame({
    'user_id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'email': ['alice@example.com', None, 'charlie@example.com', 'david@example.com']
})

# Purchase log
df_purchases = pd.DataFrame({
    'user_id': [1, 1, 2, 3, 5],
    'purchase_amount': [120.0, 35.0, None, 99.99, 45.0],
    'date': ['2023-11-01', '2023-11-02', '2023-11-05', '2023-11-06', '2023-11-10']
})

Rename the column `name` to `user_name`.

Merge the two DataFrames so we have user names alongside their purchase logs.

Drop any rows in the merged data where the email is missing.

Fill any missing `purchase_amount` with 0.

Convert the `date` column to `datetime` format.

In [3]:
# Rename the column `name` to `user_name`.
df_users.rename(columns={"name" : "user_name"}, inplace=True)

# Merge the two DataFrames so we have user names alongside their purchase logs.
df_merged = pd.merge(left=df_users, right=df_purchases, how="outer", on="user_id")

# Drop any rows in the merged data where the email is missing.
df_merged.dropna(subset=["email"], inplace=True)

# Fill any missing `purchase_amount` with 0.
df_merged.fillna({"purchase_amount": 0}, inplace=True)

# Convert the date column to datetime format.
df_merged["date"] = pd.to_datetime(df_merged["date"])

## Exercise 2: Handle Missing Survey Data

You receive a DataFrame df_survey with columns:

`['id', 'age', 'income', 'feedback']`

In [4]:
df_survey = pd.DataFrame({
    'id': [101, 102, 103, 104, 105],
    'age': [25, np.nan, 45, 62, np.nan],
    'income': [50000, 60000, np.nan, 72000, np.nan],
    'feedback': ['Good', None, 'Bad', None, 'Okay']
})

Drop rows where both `age` and `income` are missing.

Fill missing income values with the median income.

Replace missing feedback with the string "No feedback provided".

Create a new column age_group:

- $< 30$ → 'young'

- 30–60 → 'middle-aged'

- $> 60$ → 'senior'

In [5]:
# Drop rows where both `age` and `income` are missing.
df_survey.dropna(subset=["age", "income"], how="all", inplace=True)

# Fill missing income values with the median income.
median_income = df_survey["income"].median()
df_survey.fillna({"income": median_income}, inplace=True)

# Replace missing feedback with the string "No feedback provided".
df_survey.fillna({"feedback" : "No feedback provided"}, inplace=True)

# Create a new column age_group
def categorize(row):
    if row["age"] < 30:
        return "young"
    elif row["age"] >=30 and row["age"] <= 60:
        return "middle-aged"
    elif row["age"] > 60:
        return "senior"

df_survey["age_group"] = df_survey.apply(categorize, axis=1)

## Exercise 3: Filter and transform sales records

You have a DataFrame `df_sales`:

`['product_id', 'price', 'quantity', 'region']`

In [6]:
df_sales = pd.DataFrame({
    'product_id': ['A1', 'A2', 'A3', 'A4', 'A5'],
    'price': [100.0, -50.0, np.nan, 75.0, 120.0],
    'quantity': [1, 2, 3, None, 5],
    'region': ['north', 'south', 'east', 'west', 'north']
})

Remove rows where either `price` or `quantity` is NaN.

Replace any negative prices with NaN, then fill those with the median price.

Create a new column `revenue = price * quantity`.

Convert the `region` column to uppercase.

Rename the column `product_id` to `sku`.

In [7]:
# Remove rows where either `price` or `quantity` is NaN.
df_sales.dropna(subset=["price", "quantity"], how="any", inplace=True)

# Replace any negative prices with NaN, then fill those with the median price.
df_sales["price"] = np.where(df_sales["price"] < 0, np.nan, df_sales["price"])
median_price = df_sales["price"].median()
df_sales.fillna({"price": median_price}, inplace=True)

# Create a new column `revenue = price * quantity`.
df_sales["revenue"] = df_sales["price"] * df_sales["quantity"]

# Convert the `region` column to uppercase.
df_sales["region"] = df_sales["region"].str.upper()

# Rename the column `product_id` to `sku`.
df_sales.rename(columns={"product_id" : "sku"}, inplace=True)